@import "../../../config.scss/rem-calc.scss";

:host {
  // Variáveis pada facilitar leitura
  $size: rem-calc(320);
  $smallPadding: rem-calc(8);

  .initial-page {
    display: flex;
    justify-content: space-around;
    overflow-x: hidden;

    width: 75%;
    height: calc(100vh - 20rem);
    margin: 8rem auto;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        font-size: rem-calc(56);
        margin-bottom: $smallPadding;

        color: white;
      }
      h2 {
        font-size: rem-calc(32);
        margin-left: rem-calc(3.2);

        color: var(--primary);
      }
    }
    .img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        width: $size;
        height: $size;
        border-radius: rem-calc(20);
        margin: rem-calc(16);
      }
      p {
        border: rem-calc(1) solid gray;
        border-radius: rem-calc(4);
        width: $size;
        color: white;

        padding: $smallPadding 0;

        .cube {
          width: rem-calc(40);

          padding: 0 $smallPadding;
          margin: $smallPadding;
          border-radius: rem-calc(2);
          background-color: red;
        }
      }
    }
  }
}

@media screen and (max-width: rem-calc(620)) {
  :host {
    .initial-page {
      display: flex;
      flex-direction: column;

      height: 100%;
      width: 90%;
      margin-top: rem-calc(50);
      gap: rem-calc(16);

      .content {
        align-items: center;
        h1 {
          font-size: rem-calc(45);
        }
        h2 {
          font-size: rem-calc(28);
        }
      }
    }
  }
}

@media screen and (max-width: rem-calc(375)) {
  // Variavel para tamanho da img e div abaixo
  $size: rem-calc(280);

  :host {
    .initial-page {
      .img {
        img {
          width: $size;
          height: $size;
        }
        p {
          width: $size;
        }
      }
    }
  }
}

@media screen and (max-width: rem-calc(320)) {
  // Variavel para tamanho da img e div abaixo
  $size: rem-calc(240);

  :host {
    .initial-page {
      .content {
        h1 {
          font-size: rem-calc(35);
        }
        h2 {
          font-size: rem-calc(24);
        }
      }
      .img {
        img {
          width: $size;
          height: $size;
        }
        p {
          width: $size;
        }
      }
    }
  }
}
