@import "../../../config.scss/rem-calc.scss";

@media screen and (max-width: rem-calc(620)) {
  :host {
    .initial-page {
      display: flex;
      flex-direction: column;

      height: 80%;
      width: 90%;

      margin-top: rem-calc(90);
      gap: rem-calc(16);

      .content {
        align-items: center;

        h1 {
          font-size: rem-calc(45);
        }
        h2 {
          font-size: rem-calc(28);
        }
      }
    }
  }
}

@media screen and (max-width: rem-calc(375)) {
  // Variavel para tamanho da img e div abaixo
  $size: rem-calc(260);

  :host {
    .initial-page {
      .content {
        h1 {
          font-size: rem-calc(38);
        }
        h2 {
          font-size: rem-calc(26);
        }
      }
      .img {
        img {
          width: $size;
          height: $size;
        }
        p {
          width: $size;
        }
      }
    }
  }

  @media screen and (max-width: rem-calc(320)) {
    // Variavel para tamanho da img e div abaixo
    $size: rem-calc(240);

    :host {
      .initial-page {
        .content {
          h1 {
            font-size: rem-calc(35);
          }
          h2 {
            font-size: rem-calc(24);
          }
          .links {
            a {
              img {
                height: 40px;
                width: 40px;
              }
            }
          }
        }
        .img {
          img {
            width: $size;
            height: $size;
          }
          p {
            width: $size;
          }
        }
      }
    }
  }
}
