@import "../../../config.scss/rem-calc.scss";

:host {
  // Variáveis pada facilitar leitura
  $size: rem-calc(320);
  $smallPadding: rem-calc(8);

  .initial-page {
    display: flex;
    justify-content: space-around;
    overflow-x: hidden;

    width: 75%;
    height: 80%;
    margin: auto;
    padding-top: rem-calc(220);

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: rem-calc(56);
        margin-bottom: $smallPadding;

        color: white;
      }
      h2 {
        font-size: rem-calc(30);
        margin-left: rem-calc(3.2);

        color: var(--primary);
      }
      .links {
        a {
          margin-right: rem-calc(10);
          margin-left: rem-calc(3.2);

          svg {
            margin-top: rem-calc(10);
            padding: rem-calc(10);

            background-color: var(--background-light);
            border-radius: rem-calc(12);

            path {
              transition: fill 0.2s;
            }
          }
          .dio {
            width: 80px;
          }
        }
        svg:hover path {
          fill: var(--primary);
        }
      }
    }
    .img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      overflow: hidden;

      #rotate {
        animation: rotate 3s linear infinite;
      }
      @keyframes rotate {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }

      img {
        width: $size;
        height: $size;
        margin: rem-calc(16);
      }
      p {
        color: white;
        border-radius: rem-calc(4);
        border: rem-calc(1) solid gray;

        width: $size;
        padding: $smallPadding 0;

        .cube {
          width: rem-calc(40);
          padding: 0 $smallPadding;
          margin: $smallPadding;

          border-radius: rem-calc(2);
          background-color: var(--primary);
        }
      }
    }
  }
}
