@import "../../../../config.scss/rem-calc.scss";

:host {
  .skill {
    display: flex;
    justify-content: space-between;

    padding-bottom: rem-calc(10);
    border-bottom: rem-calc(2) solid var(--border-bottom);

    .description {
      display: flex;
      flex-direction: column;

      width: 65%;

      color: var(--white-text);
      h3 {
        font-size: rem-calc(26);
        font-style: italic;

        padding: rem-calc(10) 0;
        color: var(--primary);
      }
      p {
        padding: rem-calc(10) 0;

        color: var(--light-text);
      }
      span {
        font-size: rem-calc(14);
        padding-top: rem-calc(14);
        color: var(--primary);

        .level {
          color: var(--light-text);
        }
      }
    }
    .img {
      img {
        height: 120px;
        width: 160px;

        margin-right: rem-calc(40);
      }
    }
  }
}

@media screen and (max-width: rem-calc(480)) {
  :host {
    .skill {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: rem-calc(30);

      .description {
        width: 90%;

        h3 {
          margin: 0 auto;
        }

        h2 {
          margin: 0 auto;
        }
        span {
          padding-top: 0;
        }
      }
      .img {
        img {
          margin-right: 0;
          align-items: center;
        }
      }
    }
  }
}
