<nav class="header">
    <div>
        <h2>&#171;<span>Navarro</span>&#187;</h2>
    </div>
    <div id="nav">
        <button (click)="toggleMenu()" id="btn-mobile">
            <span id="hamburguer"></span>
        </button>
        <ul class="menu">
            <li><a class="button select" href="#initial">Início</a></li>
            <li><a class="button" href="#about-me">Sobre mim</a></li>
            <li><a class="button" href="#projects">Projetos</a></li>
            <li><a class="button" href="#skills">Habilidades</a></li>
        </ul>
    </div>
</nav>