@import "../../../config.scss/rem-calc.scss";

@media screen and (max-width: rem-calc(620)) {
  :host {
    // botao mobile(hamburguer)
    #btn-mobile {
      display: flex;
      margin-right: rem-calc(20);

      border: none;
      background: none;

      color: white;
      cursor: pointer;

      #hamburguer {
        border-top: rem-calc(2) solid;
        width: rem-calc(20);
      }
      // Criaçao de riscos iguais para o icon
      #hamburguer::after,
      #hamburguer::before {
        content: "";
        display: block;
        position: relative;

        width: rem-calc(20);
        height: rem-calc(2);
        margin-top: rem-calc(5);

        background-color: currentColor;
        transition: all 0.3s;
      }
    }
    // Deixando o primeiro risco transparente
    #nav.activate #hamburguer {
      border-top-color: transparent;
    }
    // Rotacionando os dois riscos de baixo
    #nav.activate #hamburguer::before {
      transform: rotate(-135deg);
    }
    #nav.activate #hamburguer::after {
      transform: rotate(135deg);
      top: rem-calc(-7);
    }
    // Deixando eles vermelhos quando passar o mouse
    #btn-mobile:hover {
      color: var(--primary);
      #hamburguer::after,
      #hamburguer::before {
        background-color: currentColor;
      }
    }

    .header {
      justify-content: space-between;
      width: 100vw;

      .menu {
        display: block;
        position: absolute;
        visibility: hidden;
        overflow-y: hidden;

        width: 100vw;
        height: 0;
        right: 0;
        z-index: 1000;
        top: rem-calc(70);

        transition: all 0.4s;
      }

      #nav.activate .menu {
        height: calc(100vh - 4.375rem);
        visibility: visible;

        background-color: var(--background-header);

        position: fixed;
        z-index: 1000;
      }

      .menu {
        li {
          padding: rem-calc(16) 0;
          margin: 0 rem-calc(16);

          text-align: center;
          border-bottom: rem-calc(2) solid rgba(170, 170, 170, 0.05);

          a {
            font-style: italic;
          }
        }
      }
    }
  }
}
