@import "../../../config.scss/rem-calc.scss";

:host {
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: rem-calc(70);
    overflow: hidden;
    width: 100vw;

    background-color: var(--background-header);
    box-shadow: rgba(61, 61, 61, 0.25) 0px 4px 4px;

    top: 0;
    position: fixed;
    z-index: 1000;

    div {
      h2 {
        font-size: rem-calc(42);
        font-style: italic;
        color: var(--primary);

        span {
          color: var(--white-text);
          transition: margin 0.2s ease;
        }
        span:hover {
          margin: 0 rem-calc(5);
        }
      }
    }

    .menu {
      display: flex;
      gap: rem-calc(25);

      li {
        a {
          text-decoration: none;
          font-size: rem-calc(20);
          font-style: italic;

          color: var(--white-text);
          transition: color 0.2s ease;
        }
        a:hover {
          color: var(--primary);
        }
      }
    }
  }

  #btn-mobile {
    display: none;
  }
}
