@import "../../../config.scss/rem-calc.scss";

:host {
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;

    .box {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
