@import "../../../config.scss/rem-calc.scss";

:host {
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: rem-calc(70);

    &__content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .btn-primary {
      margin: rem-calc(20) auto;
      padding: rem-calc(10);

      color: var(--white-text);
      background-color: transparent;
      border: rem-calc(1) solid var(--primary);
      border-radius: rem-calc(4);

      cursor: pointer;
      transition: box-shadow 0.2s ease;

      visibility: hidden;
    }
    .btn-primary:hover {
      box-shadow: var(--primary) 0 0 5px;
    }
  }
}

@media screen and (max-width: rem-calc(1024)) {
  :host {
    .projects {
      &__content {
        grid-template-columns: 1fr 1fr 1fr;
        height: rem-calc(320);
      }
      .btn-primary {
        visibility: visible;
      }
      &__content.open {
        height: auto;
      }
    }
  }
}

@media screen and (max-width: rem-calc(660)) {
  :host {
    .projects {
      &__content {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media screen and (max-width: rem-calc(480)) {
  :host {
    .projects {
      &__content {
        grid-template-columns: 1fr;
      }
    }
  }
}
