<div id="about-me" class="about-me">
    <div class="range">
        <img src="../../../assets/jpg/Foto_social.jpg" alt="Foto minha">
        <div class="content">
            <divisor string="Sobre mim">
            </divisor>
            <P>
                Olá! Sou o Gabriel, um entusiasta desenvolvedor full-stack com uma paixão por café e transformar ideias
                criativas em experiências digitais envolventes. Atualmente, estou cursando Analise e desenvolvimento de
                sistemas, sempre em busca de novas tecnologias para aprimorar minhas habilidades e proporcionar
                soluções inovadoras. Além do mundo da programação, gosto de frequentar a academia e dedicar um tempo à
                leitura. Acredito na importância de um equilíbrio saudável entre trabalho e lazer para alimentar a
                criatividade e o bem-estar.
            </P>
        </div>
    </div>
</div>