@import "../../../config.scss/rem-calc.scss";

@media screen and (max-width: rem-calc(1440)) {
  :host {
    .about-me {
      .range {
        width: 80%;
      }
    }
  }
}

@media screen and (max-width: rem-calc(1024)) {
  :host {
    .about-me {
      .range {
        .content {
          img {
            height: rem-calc(250);
            width: rem-calc(250);
          }
          p {
            font-size: 20px;
            padding-top: rem-calc(20);
          }
        }
      }
    }
  }
}

@media screen and (max-width: rem-calc(1000)) {
  :host {
    .about-me {
      .range {
        .content {
          display: flex;
          flex-direction: column;
          align-items: center;

          p {
            padding-top: 0;
          }
        }
      }
    }
  }

  @media screen and (max-width: rem-calc(620)) {
    :host {
      .about-me {
        .range {
          .content {
            padding-top: rem-calc(30);
            p {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: rem-calc(330)) {
  :host {
    .about-me {
      .range {
        width: 80%;

        .content {
          img {
            height: rem-calc(200);
            width: rem-calc(200);
          }
        }
      }
    }
  }
}
