@import "../../../config.scss/rem-calc.scss";

:host {
  .about-me {
    background-color: var(--background-header);

    width: 100%;

    padding-bottom: rem-calc(50);

    .range {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 60%;
      margin: auto;

      h2 {
        font-size: rem-calc(40);
        margin: rem-calc(20);
        color: var(--white-text);
      }

      .content {
        display: flex;
        flex-direction: row;
        gap: rem-calc(80);

        padding-top: rem-calc(100);

        img {
          height: rem-calc(300);
          width: rem-calc(300);

          border: 2px solid var(--primary);
          border-radius: 50% 80% / 70% 10%;
        }

        p {
          padding-top: rem-calc(70);
          color: var(--light-text);
        }
      }
    }
  }
}
