@import "../../../config.scss/rem-calc.scss";

:host {
  .about-me {
    background-color: var(--background-header);

    width: 100%;
    padding-top: rem-calc(70);

    padding-bottom: rem-calc(50);

    .range {
      display: flex;
      gap: 8rem;

      align-items: center;

      width: 60%;
      margin: auto;

      img {
        min-width: rem-calc(250);

        border: 2px solid var(--primary);
        border-radius: 50% 80% / 70% 10%;
      }

      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem-calc(50);

        p {
          font-size: 22px;
          padding-top: rem-calc(30);
          color: var(--light-text);
        }
      }
    }
  }
}
