@import "../../../config.scss/rem-calc.scss";

:host {
  .about-me {
    background-color: var(--background-header);

    width: 100%;
    padding-top: rem-calc(70);

    padding-bottom: rem-calc(50);

    .range {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 60%;
      margin: auto;

      .content {
        display: flex;
        flex-direction: row;
        gap: rem-calc(100);

        padding-top: rem-calc(50);

        img {
          height: rem-calc(300);
          width: rem-calc(300);

          border: 2px solid var(--primary);
          border-radius: 50% 80% / 70% 10%;
        }
        p {
          font-size: 22px;
          padding-top: rem-calc(30);
          color: var(--light-text);
        }
      }
    }
  }
}
