@import "./config.scss/reset.scss";
@import "./config.scss/rem-calc.scss";
@import "./config.scss/animations.scss";

// Declaração de variávei
:root {
  --background-header: rgb(17, 16, 16);
  --background: #1d1c1c;
  --background-light: #292828;
  --border-bottom: rgba(170, 170, 170, 0.05);
  --light-text: #b3b3b3;
  --white-text: #ffffff;
  --primary: #dd0b0b;
}

html {
  scroll-behavior: smooth;
}

// Configurações basicas da página
body {
  font-family: "Roboto", sans-serif;
  background: var(--background);
  overflow-x: hidden;
  overflow-y: auto;
}

// Ocultando a scrollBar
body::-webkit-scrollbar {
  width: rem-calc(0);
}
