@import "./config.scss/variables.scss";
@import "./config.scss/reset.scss";
@import "./config.scss/scrollBar.scss";

body {
  background: var(--background);

  font-family: "Roboto", sans-serif;

  overflow-x: hidden;
}
